/*.vs
/NAUCountry.ClientApp/*.vs
/NAUCountry.ClientApp/NAUCountry.ClientApp/bin
/NAUCountry.ClientApp/NAUCountry.ClientApp/obj
/NAUCountryATest/bin
/NAUCountryATest/obj
/NAUCountryA/bin
/NAUCountryA/obj
/NAUCountry.ECOMap/bin
/NAUCountry.ECOMap/obj
/ESRIMapQueryExample/TestingESRIAPI/bin
/ESRIMapQueryExample/TestingESRIAPI/obj
/ESRIMapQueryExample/*.vs
/*.vscode
/Resources/Output